div{
  background-color: lightblue;
}
body{
  background-color: cornflowerblue;
}
button{
  background-color: lightblue;
  border-radius: 5px;
}
h4{
  color: yellow
}
h6{
  color: cornflowerblue;
}
p{
  color: cornflowerblue;
}
pre{
  color: cornflowerblue;
}
h1{
  color: blueviolet;
}
