div{
  background-color: lightblue;
}
body{
  background-color: darkblue;
}
button{
  background-color: darkmagenta;
  border-radius: 10px;
}
h4{
  color: yellow;
}
h5{
  color: darkorchid;
}
h6{
  color: red;
}
p{
  color: yellowgreen;
}
pre{
  color: cornflowerblue;
}
h1{
  color: blueviolet;
}

